# Loop

In [4]:
list1 = [1,2,3,4,5]
list2 = [6,5,4,3,100]

print("list1:", list1)
print("list2:", list2)

# create a blank list that we will use to generate the same
# results that we achieved using the + sign: concatenation
concat_list = []

len_list1 = len(list1)
len_list2 = len(list2)

# first let's concatenate
for i in range(0,len_list1):
    concat_list.append(list1[i])
    print(i, list1[i])
    
print(concat_list)

for i in range(0, len_list2):
    print(i, list2[i])
    concat_list.append(list2[i])
    
print(concat_list, list1 + list2)

sum_list = []
if len_list1 == len_list2:
    for i in range(len_list1):
        sum_list.append(list1[i] + list2[i])
print("sum_list (append):", sum_list)

sum_list = []
if len_list1 == len_list2:
    for i in range(0, len_list1 - 1):
        # lst.insert(index, value)
        sum_list.insert(i, list1[i] + list2[i])
print("sum_list (insert):", sum_list)

list1: [1, 2, 3, 4, 5]
list2: [6, 5, 4, 3, 100]
0 1
1 2
2 3
3 4
4 5
[1, 2, 3, 4, 5]
0 6
1 5
2 4
3 3
4 100
[1, 2, 3, 4, 5, 6, 5, 4, 3, 100] [1, 2, 3, 4, 5, 6, 5, 4, 3, 100]
sum_list (append): [7, 7, 7, 7, 105]
sum_list (insert): [7, 7, 7, 7]

In [5]:
1 == 1

True

In [6]:
1 != 1  # =/=

False

In [8]:
if 1 == 1:
 print("statement is", 1 == 1)

statement is True

In [17]:
for i in range(10):
    print("i ==", i, "i < 5:", i < 5)

i == 0 i < 5: True
i == 1 i < 5: True
i == 2 i < 5: True
i == 3 i < 5: True
i == 4 i < 5: True
i == 5 i < 5: False
i == 6 i < 5: False
i == 7 i < 5: False
i == 8 i < 5: False
i == 9 i < 5: False

In [22]:
list1 = [5, 
         4, 
         8,
         0,
         3,
         5]
list2 = ["red", 
         "blue", 
         "orange", 
         "white", 
         "grey", 
         "black"]

print(list1)
print(list2)

sorted_list1 = sorted(list1)#, reverse = True)
sorted_list2 = sorted(list2)

sorted_list1[::-1], sorted_list2[::2]

[5, 4, 8, 0, 3, 5]
['red', 'blue', 'orange', 'white', 'grey', 'black']

([8, 5, 5, 4, 3, 0], ['black', 'grey', 'red'])

In [23]:
list3 = ["1", 22, "3", 23, "5"]
try:
    sorted_list3 = sorted(list3)
except:
    print("TypeError: unorderable types: str < int")

# generator function creates list using for loop
# within the list created
alpha_list3 = [str(val) for val in list3]

num_list3 = []
for val in list3:
    num_list3.append(int(val))
print(alpha_list3)
print(num_list3)
sorted(alpha_list3), sorted(num_list3)

TypeError: unorderable types: str < int
['1', '22', '3', '23', '5']
[1, 22, 3, 23, 5]

(['1', '22', '23', '3', '5'], [1, 3, 5, 22, 23])

In [24]:

print("i", "j")
i_list = list(range(3))
j_list = list(range(5))

for i in range(3):
    for j in range(5):
        for k in range(4):
            print(i, j)
print(i_list, j_list, sep = "\n")

i j
0 0
0 0
0 0
0 0
0 1
0 1
0 1
0 1
0 2
0 2
0 2
0 2
0 3
0 3
0 3
0 3
0 4
0 4
0 4
0 4
1 0
1 0
1 0
1 0
1 1
1 1
1 1
1 1
1 2
1 2
1 2
1 2
1 3
1 3
1 3
1 3
1 4
1 4
1 4
1 4
2 0
2 0
2 0
2 0
2 1
2 1
2 1
2 1
2 2
2 2
2 2
2 2
2 3
2 3
2 3
2 3
2 4
2 4
2 4
2 4
[0, 1, 2]
[0, 1, 2, 3, 4]

In [25]:
print("i", "j", "k")
i_list = list(range(3))
j_list = list(range(5))
k_list = list(range(4))
for i in range(3):
    for j in range(5):
        for k in range(4):
            print(i, j, k)
print(i_list, j_list, k_list, sep = "\n")

i j k
0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
0 4 0
0 4 1
0 4 2
0 4 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
1 4 0
1 4 1
1 4 2
1 4 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
2 4 0
2 4 1
2 4 2
2 4 3
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]